// Header Colors
$header_background_color: #D92B4D;
$header_link_color: #60C0A5;
$header_link_hover_color: #39A587;
$header_link_hover_shadow: #1A8060;
$header_link_shadow: #0B8060;
$header_text_color: #F27A92;
$header_text_shadow: #B60F30;
$header_text_border: #F27A92;
$header_navbar_background_color: #1E9977;

// General Colors
$background_color: rgba(50, 50, 50, .5);
$text_color: rgba(255, 255, 255, 1);
$text_shadow: rgba(50, 50, 50, 1);