@import '_colors.scss';
@import '_fonts.scss';

.browse-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        color: #E3FA98;
        font-size: $font_size_h1;
        // border: solid 2px red;
        padding: 5px;
        margin: 5px 10px;
    }

    ul {
        width: 100%;
        padding: 0 10px;
    }

    li {
        color: white;
        box-shadow: -3px 3px $background_shadow;
        font-size: 65px;
        list-style: none;
        margin: 10px;
        padding: 5px 10px;
        text-shadow: -3px 3px black;
        cursor: pointer;

        &:hover {
            background: red;
        }
    }

    .browse-modal {
        background: $header_background_color;
        overflow: auto; 
        transition: 500ms;
        width: 80%;
    }
}