.browse-page {
    h1 {
        color: #E3FA98;
        // border: solid 2px red;
        padding: 5px;
        margin: 5px 10px;
    }

    .browse-modal {
        background: red;
        overflow: auto; 
        transition: 500ms;
    }
}